*.Rproj.user
*.Rhistory
*.Ruserdata
*.Rout
*.txt
nohup.out
*.pdf
*.swp
/Simulation/*.Rout
/Simulation/*.swp
*.Rproj
.Rproj.user
*.RData
/Simulation_New/*.RData
Simulation_New/
Stock_Indices/
US_Precipitation/